# sbt compilation output
target/
project/target
# Compiler output and nodejs modules
compiler/**/*.html
compiler/**/*.wat
compiler/**/*.wasm
compiler/**/*.js
compiler/node_modules
# Vim
*.swp
#idea
.idea/
#Amy Reference Compiler
amyc_2.12-1.1.jar
